<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="logo">
            <h2 class="mb-0 text-white">respay</h2>
          </div>
        </div>
        <div class="col-md-9">
         <nav class="float-right">
           <ul class="mb-0 text-white">
             <!--<li *ngFor="let item of navBar"><a href="" class="active">{{item}}</a></li>-->
             <li *ngFor="let item of navBar"><a href="" >{{item}}</a></li>

           </ul>
         </nav>

        </div>
      </div>
    </div>
  </div>


</header>
