<div class="main-slider">
  <ngb-carousel *ngIf="sliderArray.length">
    <ng-template ngbSlide *ngFor="let slider of sliderArray">
      <img [src]="slider.img" alt="Random first slide">
      <div class="carousel-caption ">
        <h1>{{slider.text}}</h1>
        <p>Asma Faroque Foundation is seeking local students for study Fund</p>
      </div>
    </ng-template>

  </ngb-carousel>
</div>

<section class="promo bg-style py-100 text-center" style="background-image: url(../../../assets/images/banner.png)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="box">
          <div class="box__title">
            <h2 class="text-primary mb-90">EVERY CHILD SHOULD GROW UP IN A BETTER WORLD</h2>
          </div>
          <div class="box__content">
            <p class="text-white font-w500">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
              of type and scrambled it to make a type specimen book. It has survived not only five centuries,
              but also the leap into electronic typesetting, remaining</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="video-promo bg-green py-100">
  <div class="fullwidth-video-bg bg-style" >
      <video controls class="video-size">
        <source src="assets/educationalvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
  </div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-6">
        <div class="box text-center">
          <div class="box__content">
            <p class="text-primary">Learn more about out mission and our commitment to a better future for our children </p>
            <a href="#" class="btn-borded mt-15">OUR INITIATIVES</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonial bg-style py-100 text-center" style="background-image: url(../../../assets/images/quotes-image.png)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="box">
          <div class="box__content">
            <p class="text-white mb-60">“The only way that we reach out full human potential is if we’re able to unlock the gifts of
              every person around the world.”</p>
            <p class="text-white text-right">-Omar Faroque and Asma Omar</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact bg-olive py-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box">
          <div class="box__title text-center text-white mb-90">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s,</h2>
          </div>
          <div class="box__content">
            <form>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name*">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email*">
                  </div>
                </div>
                <div class="col-lg-6">
                  <textarea class="form-control" rows="4" placeholder="Your Message*"></textarea>
                </div>
                <div class="col-lg-12 text-center">
                  <button type="button" class="btn btn-primary mt-15">SEND MESSAGE</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
