<section class="footer bg-green py-50 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="logo">
          <h2 class="text-white">respy</h2>
          <p class="text-white">AsmaFaroque Foundation </p>
        </div>
        <div class="footer__social mt-5">
          <a href="#">
            <img src="assets/img/social.png" alt="">
          </a>
        </div>
        <div class="copyright mt-2">
          <p class="m-0 text-white">Copyright 2017 TenX - All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</section>
