<section class="footer bg-green py-50 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="logo">
          <h2 class="text-white">respy</h2>
          <p class="text-white">AsmaFaroque Foundation </p>
        </div>
        <div class="footer__social">
          <ul class="social-item">
            <li class="facebook"><i class="fa fa-facebook"></i></li>
            <li class="twitter"><i class="fa fa-twitter"></i></li>
            <li class="youtube"><i class="fa fa-youtube"></i></li>
            <li class="google"><i class="fa fa-google"></i></li>
            <li class="linkedin"><i class="fa fa-linkedin"></i></li>
          </ul>
        </div>
        <div class="copyright mt-2">
          <p class="m-0 text-white">Copyright 2017 TenX - All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</section>
