/* You can add global styles to this file, and also import other style files */
*{

}

body, ul, li {
  margin: 0;
  padding: 0;
}
p, li,  h1, h2,h3,h4,h5 {
  color: #4e4e4e;
}

body{
  background: #f7f7f7;
}

.wrapper{
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}
